$flex-gap: 10px;

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $flex-gap;
  margin-top: 20px;
}

.item {
  &_half {
    width: calc(50% - $flex-gap / 2);
  }

  &_full {
    width: 100%;
  }

  &_third {
    width: calc(33% - $flex-gap * 2 / 3);
  }
}
