$button-height: 19px;

.trigger {
    position: relative;
}

.form {
    display: flex;
    position: absolute;
    width: 280px;
    padding: 20px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
    flex-direction: column;

    * {
        width: 100%;
    }

    &__fieldWrapper {
        position: relative;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__error {
        position: absolute;
        bottom: -15px;
        color: red;
        font-size: 12px;
    }

    &__btnSubmit {
        margin-top: 20px;
    }
}

.container {
    position: relative;
}